@charset "UTF-8";

/* Configurações Gerais */

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    font-size: 40px;
    margin: 0;
}

/* Body */


/* Header/Cabeçalho */

header {
    display: flex;
    margin: auto;
    max-width: 1120px;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.logotipo {
    width: 200px;
}

.menu {
    display: flex;
    column-gap: 25px;
}

.menu a:hover {
    transform: scale(1.1);
    transition: 0.4s;
    color: #D93F13;
}

.btnContato {
    padding: 10px 35px;
    background-color: #D93F13;
    border: #D93F13;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btnContato:hover {
    transition: 0.4s;
    background-color: #b03310;
}

.btnContato p {
    font-size: 18px;
}

/* Main/Conteúdo Principal */

main {
    margin: auto;
    max-width: 1120px;
    padding-bottom: 40px;
}

/* Página Contato */

.contato {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 679px;
    height: 417px;
    border-radius: 0.25rem;
    background-color: white;
    border: 1px solid #e2e8f0;
}

.formulario div {
    display: flex;
    flex-direction: column;
    width: 370px;
}

.formLabel {
    font-size: 12px;
    padding-bottom: 8px;
}

.formInput {
    border-radius: 0.25rem;
    background-color: #F8FAFC;
    border-width: 1px;
    border-color: #e2e8f0;
    border-style: solid;
    height: 25px;
}

.formTextArea {
    border-radius: 0.25rem;
    border-width: 1px;
    background-color: #F8FAFC;
    border-color: #e2e8f0;
    height: 120px;
}

.formBtn {
    border-radius: 0.25rem;
    color: white;
    background-color: #D93F13;
    border: none;
    height: 40px;
    width: 367px;
    cursor: pointer;
}

.formBtn:hover {
    transition: 0.4s;
    background-color: #b03310;
}

/* Página Início */

/* Banner */

.banner {
    height: 40vh;
    position: relative;
    background: url(imagens/carne-de-panela.png) center / cover no-repeat;
    border-radius: 0.25rem;
}

.bannerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 0.25rem;
}

.bannerTexto {
    color: white;
    text-align: center;
}

/* Receitas */

.receitas {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.receitas h3 {
    margin: 0px;
    padding-bottom: 10px;
}

.receitasCategorias li {
    padding-bottom: 5px;
}

.receitasCategorias a:hover {
    color: #D93F13;
    transform: scale(1.1);
    transition: 0.4s;
}

.receitasDestaque {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.receitasUm {
    display: flex;
    column-gap: 15px;
}

.receitasDois {
    display: flex;
    column-gap: 15px;
}

.receitas img {
    width: 291px;
    height: 160px;
    border-radius: 0.25rem;
}

.receitasDestaque h4 {
    font-size: 20px;
    margin: 0px;
    padding-top: 12px;
}

.receitasDestaque p {
    font-size: 16px;
    padding-top: 7px;
}

/* Página Sobre */

.saibaMais {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.saibaMais img {
    width: 500px;
    height: 350px;
    border-radius: 0.25rem;
}

.vejaTambemP {
    font-size: 25px;
    padding-bottom: 20px;
}

.vejaTambemReceitas {
    display: flex;
    justify-content: space-between;
}

.vejaTambemReceitas h4 {
    font-size: 20px;
    margin: 0px;
    padding-top: 12px;
}

.vejaTambemReceitas p {
    font-size: 16px;
    padding-top: 7px;
}

.vejaTambemReceitas img {
    width: 363px;
    height: 180px;
    border-radius: 0.25rem;
}

/* Página Categorias */

.categorias {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 35px;
    padding-bottom: 192px;
}

.categorias div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 353px;
    height: 80px;
    border-radius: 0.25rem;
    background-color: #D93F13;
    cursor: pointer;
}

.categorias div:hover {
    transition: 0.4s;
    background-color: #b03310;
}

.categorias a {
    color: white;
}


.categorias h4 {
    margin: 0px;
    padding-bottom: 5px;
}

.categorias p {
    font-size: 15px;
}

/* Página Receita */

.apresentacaoReceita {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.apresentacaoReceita div {
    padding-right: 50px;
}

.apresentacaoReceita img {
    width: 500px;
    height: 350px;
    border-radius: 0.25rem;
}

.preparoReceita {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.instrucoes {
    max-width: 520px;
}

.passosReceita {
    padding-bottom: 20px;
}

.passosReceitaOi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.passosReceitaOi h3 {
    margin: 0px;
    font-size: 18px;
    color: #D93F13;
}

.passosLinha {
    width: 418px;
    height: 2px;
    background-color: #cbd5e1;
}

.ingredientesMaisInformacoes {
    width: 500px;
}

.ingredientes div {
    margin-bottom: 20px;
}

.ingredientes p {
    padding-bottom: 10px;
}

.ingredientesLinha {
    width: 500px;
    height: 2px;
    background-color: #cbd5e1;
}

.maisInformacoesHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maisInformacoesSeta {
    display: flex;
    column-gap: 5px;
}

.maisInformacoesSeta img {
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.maisInformacoesLinha {
    width: 500px;
    height: 2px;
    background-color: #cbd5e1;
}

#maisInformacoesBody {
    display: none;
    padding-top: 18px;
}

/* Footer/Rodapé */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D93F13;
    color: white;
    height: 60px;
}

footer p {
    font-size: 17px;
}

